<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
    <div class="container py-5" layout:fragment="page-content"
        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-8 col-12">
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        <h5 class="card-title text-center">Produccion diaria</h5>
                        <form th:action="@{/modulo-produccion-lacteos/produccion-diaria-leche/guardar}" method="post"
                            th:object="${produccionDiariaLeche}" id="guardarFormulario">
                            <input type="hidden" name="idProduccionDiariaLeche" th:field="*{idProduccionDiariaLeche}" />
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="ganadoHembra.nombreGanadoHembra">Nombre de la
                                    vaca:</label>
                                <div class="col-sm-8">
                                    <select th:field="*{ganadoHembra.idGanadoHembra}" name="ganadoHembra.nombreGanadoHembra" required
                                        class="form-select form-select-lg">
                                        <option th:each="ganadoHembra : ${listaGanados}" th:value="${ganadoHembra.idGanadoHembra}"
                                            th:text="${ganadoHembra.nombreGanadoHembra}"></option>
                                    </select>
                                    <span th:if="${#fields.hasErrors('ganadoHembra.nombreGanadoHembra')}" class="text-danger"
                                        th:errors="*{ganadoHembra.nombreGanadoHembra}">Error
                                        Tipo de ganado</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="fechaProduccionLeche">Fecha de
                                    produccion:</label>
                                <input class="form-control form-control-lg" type="date" required
                                    name="fechaProduccionLeche" th:field="*{fechaProduccionLeche}" />
                                <span th:if="${#fields.hasErrors('fechaProduccionLeche')}" class="text-danger"
                                    th:errors="*{fechaProduccionLeche}">Error fecha de la produccion de leche</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="produccionManianaLeche">Produccion de leche
                                    en la
                                    Mañana,
                                    cantidad en litros:
                                </label>
                                <input id="produccionManianaLeche" type="number" step="0.01"
                                    class="form-control form-control-lg" required name="produccionManianaLeche"
                                    th:field="*{produccionManianaLeche}" onblur="calcularTotal();">
                                <span th:if="${#fields.hasErrors('produccionManianaLeche')}" class="text-danger"
                                    th:errors="*{produccionManianaLeche}">Error produccion de leche en la Mañana</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="produccionTardeLeche">Produccion de leche
                                    en la tarde,
                                    cantidad en litros:
                                </label>
                                <input id="produccionTardeLeche" type="number" step="0.01"
                                    class="form-control form-control-lg" required name="produccionTardeLeche"
                                    th:field="*{produccionTardeLeche}" onblur="calcularTotal();">
                                <span th:if="${#fields.hasErrors('produccionTardeLeche')}" class="text-danger"
                                    th:errors="*{produccionTardeLeche}">Error produccion de leche en la tarde</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="totalProduccionLeche">Total produccion
                                    leche,
                                    cantidad en litros:
                                </label>
                                <input id="totalProduccionLeche" type="number" step="0.01"
                                    class="form-control form-control-lg" required name="totalProduccionLeche"
                                    th:field="*{totalProduccionLeche}">
                                <span th:if="${#fields.hasErrors('totalProduccionLeche')}" class="text-danger"
                                    th:errors="*{totalProduccionLeche}">Error produccion de leche en la tarde</span>
                            </div>
                            <input type="hidden" name="estadoProduccionDiariaLeche"
                                th:field="*{estadoProduccionDiariaLeche}" />
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-outline-primary btn-lg btn-block"
                                        th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/lista}"><i
                                            class="fa-solid fa-arrow-left"></i></a>
                                </div>
                                <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')"
                                    class="col-sm-6 mb-3">
                                    <button type="button" class="btn btn-outline-success btn-lg btn-block"
                                        data-bs-toggle="modal" data-bs-target="#guardarModal">
                                        <i class="fa-solid fa-floppy-disk"></i> Guardar
                                    </button>
                                    <div class="modal fade" id="guardarModal" tabindex="-1"
                                        aria-labelledby="guardarModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="guardarModalLabel">Guardar categoría de
                                                        ganado</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Estás seguro de que deseas guardar este registro de produccion
                                                        diaria de leche?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <!-- Este es el botón que realiza la acción de guardar -->
                                                    <button type="submit" class="btn btn-success" name="guardar">
                                                        Guardar
                                                    </button>
                                                    <!-- Este es el botón que cierra el modal -->
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /* Generar ID único para el modal de guardar */
        // Obtén el botón de guardar
        var guardarButton = document.querySelector('.btn-outline-success[data-bs-toggle="modal"]');
        // Obtén el atributo 'data-bs-target' del botón
        var targetGuardarModalId = guardarButton.getAttribute("data-bs-target");
        // Obtén el atributo 'id' del botón
        var modalIdGuardar = guardarButton.getAttribute("id");
        // Crea un identificador único para el modal de guardar
        var uniqueModalIdGuardar = "guardarModal_" + modalIdGuardar.replace("#guardarModal_", "");
        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        guardarButton.setAttribute("data-bs-target", "#" + uniqueModalIdGuardar);
        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        var modalGuardar = document.querySelector(targetGuardarModalId);
        modalGuardar.setAttribute("id", uniqueModalIdGuardar);
    </script>
    <script>
        window.onload = function () {
            function calcularTotal() {
                var maniana = parseFloat(document.getElementById("produccionManianaLeche").value) || 0;
                var tarde = parseFloat(document.getElementById("produccionTardeLeche").value) || 0;
                document.getElementById("totalProduccionLeche").value = maniana + tarde;
                console.log("El total es " + document.getElementById("totalProduccionLeche").value);
            }
        }
    </script>
</body>

</html>