<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<!-- Sección para agregar nuevo registro (solo visible para usuarios con rol "ROLE_ADMINISTRADOR") -->
<div class="container-fluid py-5" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')" class="mb-3">
        <a class="btn btn-outline-success"
           th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/agregar}"><i class="fa-solid fa-plus"></i>
            Crear nuevo registro</a>
        <a class="btn btn-outline-primary"
           th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/total-produccion-diaria-leche}">
            Total produccion leche al dia</a>
        <a class="btn btn-outline-primary"
           th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/total-produccion-leche}">
            Total produccion de leche</a>
        <a class="btn btn-outline-primary"
           th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/total-produccion-fecha}">
            Total produccion de leche por fecha</a>
    </div>
    <div th:if="${listaProduccionDiariaLeche != null and !listaProduccionDiariaLeche.empty}">
        <table class="table">
            <thead class="table-dark">
            <th>Productora</th>
            <th>Fecha produccion</th>
            <th>Produccion mañana - litros</th>
            <th>Produccion tarde - litros</th>
            <th>Total produccion</th>
            <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                Alimentar Becerro
            </th>
            <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                Editar
            </th>
            <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')">
                Dar baja
            </th>
            <th sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Eliminar</th>
            </thead>
            <tr th:each="produccionDiariaLeche, iterStat : ${listaProduccionDiariaLeche}"
                th:if="${iterStat.index lt 10}">
                <td th:text="${produccionDiariaLeche.ganadoHembra.nombreGanadoHembra}">
                    Mostrar Nombre del ganado
                </td>
                <td th:text="${produccionDiariaLeche.fechaProduccionLeche}">
                    Mostrar fecha de produccion de leche
                </td>
                <td th:text="${produccionDiariaLeche.produccionManianaLeche}">
                    Mostrar Produccion de leche por la mañana
                </td>
                <td th:text="${produccionDiariaLeche.produccionTardeLeche}">Mostrar Produccion de leche por la tarde
                </td>
                <td th:text="${produccionDiariaLeche.totalProduccionLeche}">Mostrar total produccion de leche
                </td>
                <td sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                    <!-- Botón para abrir el modal de alimentacion becerro -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#alimentacionModal_' + ${produccionDiariaLeche.idProduccionDiariaLeche}"
                            data-id="${produccionDiariaLeche.idProduccionDiariaLeche}">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <!-- Modal de alimentacion becerro -->
                    <div class="modal fade"
                         th:id="'alimentacionModal_' + ${produccionDiariaLeche.idProduccionDiariaLeche}"
                         tabindex="-1"
                         th:attr="aria-labelledby='alimentacionModal_' + ${produccionDiariaLeche.idProduccionDiariaLeche}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'alimentacionModal_' + ${produccionDiariaLeche.idProduccionDiariaLeche}">
                                        ¿Estás seguro de que deseas agregar un registro de alimentacion becerro?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para ir al formulario de edición -->
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-ganado/alimentacion-becerro/agregar(idProduccionDiariaLeche=${produccionDiariaLeche.idProduccionDiariaLeche})}">
                                        Becerro
                                    </a>
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-ganado/alimentacion-becerra/agregar(idProduccionDiariaLeche=${produccionDiariaLeche.idProduccionDiariaLeche})}">
                                        Becerra
                                    </a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                                        cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Botón para abrir el modal de alimentacion becerro -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#verModalAlimentacion_' + ${produccionDiariaLeche.idProduccionDiariaLeche}"
                            data-id="${produccionDiariaLeche.idProduccionDiariaLeche}">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                    <!-- Modal de alimentacion becerro -->
                    <div class="modal fade"
                         th:id="'verModalAlimentacion_' + ${produccionDiariaLeche.idProduccionDiariaLeche}"
                         tabindex="-1"
                         th:attr="aria-labelledby='verModalAlimentacion_' + ${produccionDiariaLeche.idProduccionDiariaLeche}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'verModalAlimentacion_' + ${produccionDiariaLeche.idProduccionDiariaLeche}">
                                        ¿Estás seguro de que deseas ver el registro de alimentacion becerro?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para ir al formulario de edición -->
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-ganado/alimentacion-becerro/lista(idProduccionDiariaLeche=${produccionDiariaLeche.idProduccionDiariaLeche})}">
                                        becerro
                                    </a>
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-ganado/alimentacion-becerra/lista(idProduccionDiariaLeche=${produccionDiariaLeche.idProduccionDiariaLeche})}">
                                        becerra
                                    </a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                                        cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                    <!-- Botón para abrir el modal de edición -->
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                            th:data-bs-target="'#editModal_' + ${produccionDiariaLeche.idProduccionDiariaLeche}">
                        <i class="fa-sharp fa-solid fa-pencil"></i>
                    </button>
                    <!-- Modal de edición -->
                    <div class="modal fade" th:id="'editModal_' + ${produccionDiariaLeche.idProduccionDiariaLeche}"
                         tabindex="-1"
                         th:attr="aria-labelledby='editModalLabel_' + ${produccionDiariaLeche.idProduccionDiariaLeche}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'editModalLabel_' + ${produccionDiariaLeche.idProduccionDiariaLeche}">
                                        ¿Estás seguro de que deseas editar este registro de produccion diaria de
                                        leche?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para ir al formulario de edición -->
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/editar/} + ${produccionDiariaLeche.idProduccionDiariaLeche}">Sí,
                                        quiero editar</a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                                        cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                    <!-- Botón para abrir el modal de dar baja -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#bajaModal_' + ${produccionDiariaLeche.idProduccionDiariaLeche}">
                        <i class="fa-sharp fa-solid fa-ban"></i>
                    </button>
                    <!-- Modal de dar baja -->
                    <div class="modal fade" th:id="'bajaModal_' + ${produccionDiariaLeche.idProduccionDiariaLeche}"
                         tabindex="-1"
                         th:attr="aria-labelledby='bajaModalLabel_' + ${produccionDiariaLeche.idProduccionDiariaLeche}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'bajaModalLabel_' + ${produccionDiariaLeche.idProduccionDiariaLeche}">
                                        ¿Estás seguro de que deseas dar de baja este registro de produccion diaria
                                        de leche?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para dar de baja la categoría de ganado -->
                                    <a class="btn btn-danger"
                                       th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/baja(idProduccionDiariaLeche=${produccionDiariaLeche.idProduccionDiariaLeche})}">Sí,
                                        dar de baja</a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                    <!-- Botón para abrir el modal de eliminar -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#deleteModal_' + ${produccionDiariaLeche.idProduccionDiariaLeche}">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <!-- Modal de eliminar -->
                    <div class="modal fade"
                         th:id="'deleteModal_' + ${produccionDiariaLeche.idProduccionDiariaLeche}" tabindex="-1"
                         th:attr="aria-labelledby='deleteModalLabel_' + ${produccionDiariaLeche.idProduccionDiariaLeche}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'deleteModalLabel_' + ${produccionDiariaLeche.idProduccionDiariaLeche}">
                                        ¿Estás seguro de que deseas eliminar este registro de produccion diaria de
                                        leche?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para eliminar la categoría de ganado -->
                                    <a class="btn btn-danger"
                                       th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/eliminar(idProduccionDiariaLeche=${produccionDiariaLeche.idProduccionDiariaLeche})}">Sí,
                                        eliminar</a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tfoot></tfoot>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <!-- Si hay una página anterior, mostrar el enlace -->
                <li th:if="${produccionDiariaLechePage.hasPrevious()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/lista(pagina=${produccionDiariaLechePage.getNumber()-1})}"
                       aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <!-- Mostrar el número de la página actual -->
                <li class="page-item active"><a class="page-link"
                                                th:text="${produccionDiariaLechePage.getNumber()+1}"></a>
                </li>
                <!-- Si hay una página siguiente, mostrar el enlace -->
                <li th:if="${produccionDiariaLechePage.hasNext()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/lista(pagina=${produccionDiariaLechePage.getNumber()+1})}"
                       aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:if="${listaProduccionDiariaLeche == null or listaProduccionDiariaLeche.empty}">
        <h1>Solo se muestran los registros de produccion diaria de este dia!</h1>
    </div>
</div>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de edición */
    var editButtons = document.querySelectorAll('.btn-outline-warning[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    editButtons.forEach(function (button) {
        var targetModalId = button.getAttribute("data-bs-target");
        var modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de edición
        var uniqueModalId = "alimentacionModal_" + modalId.replace("#alimentacionModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        var modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de edición */
    var editButtons = document.querySelectorAll('.btn-outline-warning[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    editButtons.forEach(function (button) {
        var targetModalId = button.getAttribute("data-bs-target");
        var modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de edición
        var uniqueModalId = "verModalAlimentacion_" + modalId.replace("#verModalAlimentacion_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        var modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de edición */
    var editButtons = document.querySelectorAll('.btn-outline-warning[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    editButtons.forEach(function (button) {
        var targetModalId = button.getAttribute("data-bs-target");
        var modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de edición
        var uniqueModalId = "editModal_" + modalId.replace("#editModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        var modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de dar baja */
    var deleteButtons = document.querySelectorAll('.btn-outline-danger[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    deleteButtons.forEach(function (button) {
        var targetModalId = button.getAttribute("data-bs-target");
        var modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de dar baja
        var uniqueModalId = "bajaModal_" + modalId.replace("#bajaModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        var modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de eliminar */
    var deleteButtons = document.querySelectorAll('.btn-outline-danger[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    deleteButtons.forEach(function (button) {
        var targetModalId = button.getAttribute("data-bs-target");
        var modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de eliminar
        var uniqueModalId = "deleteModal_" + modalId.replace("#deleteModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        var modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
</body>

</html>
