<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title>Título de la página</title>
</head>

<body>
    <!-- Sección para agregar nuevo registro (solo visible para usuarios con rol "ROLE_ADMINISTRADOR") -->
    <div class="container-fluid py-2" layout:fragment="page-content"
        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
        <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')" class="fs-1 text-center mb-3">
            <label>Buscar produccion de leche por fecha</label>
        </div>
        <div class="form-control">
            <form th:action="@{/modulo-produccion-lacteos/produccion-diaria-leche/encontrar-total-produccion-fecha}"
                method="get">
                <label for="fechaInicio">Fecha inicio</label>
                <input type="date" id="fechaInicio" name="fechaInicio" required>
                <label for="fechaFin">Fecha finalización</label>
                <input type="date" id="fechaFin" name="fechaFin" required>
                <button type="submit">Buscar</button>
            </form>
        </div>

        <div th:if="${totalProduccionesFecha != null and !totalProduccionesFecha.empty}">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre de la vaca</th>
                        <th>Litros - Mañana</th>
                        <th>Litros - Tarde</th>
                        <th>Total diario vaca</th>
                        <th>Fecha de producción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="produccionDiariaLeche : ${totalProduccionesFecha}">
                        <td th:text="${produccionDiariaLeche.ganado.nombreGanado}">Mostrar Nombre del ganado</td>
                        <td th:text="${produccionDiariaLeche.produccionManianaLeche}">Mostrar Producción de leche por la
                            mañana
                        </td>
                        <td th:text="${produccionDiariaLeche.produccionTardeLeche}">Mostrar Producción de leche por la
                            tarde
                        </td>
                        <td
                            th:text="${#numbers.formatDecimal(produccionDiariaLeche.produccionManianaLeche + produccionDiariaLeche.produccionTardeLeche, 0, 'COMMA', 1, 'POINT')}">
                            Mostrar Total diario</td>
                        <td th:text="${produccionDiariaLeche.fechaProduccionLeche}">Mostrar fecha de producción de leche
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total:</td>
                        <td></td>
                        <td></td>
                        <td
                            th:text="${#aggregates.sum(totalProduccionesFecha.![produccionManianaLeche + produccionTardeLeche])}">
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-outline-primary btn-lg btn-block"
                    th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/lista}"><i
                        class="fa-solid fa-arrow-left"></i></a>
            </div>
        </div>
    </div>
</body>

</html>
