<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<!-- Sección para agregar nuevo registro (solo visible para usuarios con rol "ROLE_ADMINISTRADOR") -->
<div class="container-fluid py-3" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <h5 class="text-center">Total de la produccion diaria de leche</h5>
    <div th:if="${listaTotalProduccionDiariaLeche != null and !listaTotalProduccionDiariaLeche.empty}">
        <table class="table">
            <thead class="table-dark">
            <th>Nombre de la vaca</th>
            <th>Litros - Mañana</th>
            <th>Litros - Tarde</th>
            <th>Total diario vaca</th>
            <th>Fecha de produccion</th>
            </thead>
            <tr th:each="produccionDiariaLeche : ${listaTotalProduccionDiariaLeche}">
                <td th:text="${produccionDiariaLeche.ganadoHembra.nombreGanadoHembra}">
                    Mostrar Nombre del ganado
                </td>
                <td th:text="${produccionDiariaLeche.produccionManianaLeche}">
                    Mostrar Produccion de leche por la mañana
                </td>
                <td th:text="${produccionDiariaLeche.produccionTardeLeche}">
                    Mostrar Produccion de leche por la tarde
                </td>
                <td th:text="${produccionDiariaLeche.totalProduccionLeche}">
                    Mostrar Produccion de leche por la tarde
                </td>
                <td th:text="${produccionDiariaLeche.fechaProduccionLeche}">
                    Mostrar fecha de produccion de leche
                </td>
            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td th:text="${#aggregates.sum(listaTotalProduccionDiariaLeche.![produccionManianaLeche +
                            produccionTardeLeche])}"></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-outline-primary btn-lg btn-block"
               th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/lista}"><i
                    class="fa-solid fa-arrow-left"></i></a>
        </div>
    </div>
</div>
</body>

</html>
