<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title>Título de la página</title>
</head>

<body>
<!-- Sección para agregar nuevo registro (solo visible para usuarios con rol "ROLE_ADMINISTRADOR") -->
<div class="container-fluid py-3" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <h5 class="text-center">Buscar produccion de leche por rango de fechas</h5>
    <div class="form-control">
        <form th:action="@{/modulo-produccion-lacteos/produccion-diaria-leche/encontrar-total-produccion-fecha}"
              method="get">
            <label for="fechaInicio">Fecha inicio</label>
            <input type="date" id="fechaInicio" name="fechaInicio" required>
            <label for="fechaFin">Fecha finalización</label>
            <input type="date" id="fechaFin" name="fechaFin" required>
            <button type="submit">Buscar</button>
        </form>
    </div>

    <div th:if="${totalProduccionesFecha != null and !totalProduccionesFecha.empty}">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Nombre de la vaca</th>
                <th>Litros - Mañana</th>
                <th>Litros - Tarde</th>
                <th>Total diario vaca</th>
                <th>Fecha de producción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produccionDiariaLeche, iterStat : ${totalProduccionesFecha}" th:if="${iterStat.index lt 10}">
                <td th:text="${produccionDiariaLeche.ganadoHembra.nombreGanadoHembra}">Mostrar Nombre del ganado
                </td>
                <td th:text="${produccionDiariaLeche.produccionManianaLeche}">Mostrar Producción de leche por la
                    mañana
                </td>
                <td th:text="${produccionDiariaLeche.produccionTardeLeche}">Mostrar Producción de leche por la
                    tarde
                </td>
                <td th:text="${produccionDiariaLeche.totalProduccionLeche}">Mostrar Producción de leche por la
                    tarde
                </td>
                <td th:text="${produccionDiariaLeche.fechaProduccionLeche}">Mostrar fecha de producción de leche
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td
                        th:text="${#aggregates.sum(totalProduccionesFecha.![produccionManianaLeche + produccionTardeLeche])}">
                </td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <!-- Si hay una página anterior, mostrar el enlace -->
                <li th:if="${produccionDiariaLechePage.hasPrevious()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/encontrar-total-produccion-fecha(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, pagina=${produccionDiariaLechePage.previousPageable().pageNumber})}"
                       aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <!-- Mostrar el número de la página actual -->
                <li class="page-item active">
                    <a class="page-link" th:text="${produccionDiariaLechePage.getNumber()+1}"></a>
                </li>
                <!-- Si hay una página siguiente, mostrar el enlace -->
                <li th:if="${produccionDiariaLechePage.hasNext()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/encontrar-total-produccion-fecha(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, pagina=${produccionDiariaLechePage.nextPageable().pageNumber})}"
                       aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
        <a th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/total-produccion-fecha/pdf(fechaInicio=${fechaInicio}, fechaFin=${fechaFin})}"
           target="_self">Generar PDF con todos los datos</a>
    </div>
    <div class="row py-2">
        <div class="col-sm-6">
            <a class="btn btn-outline-primary btn-lg btn-block"
               th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/lista}"><i
                    class="fa-solid fa-arrow-left"></i></a>
        </div>
    </div>
</div>
<!-- JavaScript para generar el PDF -->
    <script>
        function generarPDF() {
        var fechaInicio = document.getElementById('fechaInicio').value;
        var fechaFin = document.getElementById('fechaFin').value;
        var url = "/modulo-produccion-lacteos/produccion-diaria-leche/total-produccion-fecha/pdf?fechaInicio=" + fechaInicio + "&fechaFin=" + fechaFin;
        window.open(url, "_blank");
    }
</script>
</body>

</html>
