<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
    <!-- Sección para agregar nuevo registro (solo visible para usuarios con rol "ROLE_ADMINISTRADOR") -->
    <div class="container-fluid py-2" layout:fragment="page-content"
        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
        <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')" class="fs-1 text-center mb-3">
            <label>Este es el total de la produccion de leche en el día</label>
        </div>
        <div th:if="${listaTotalProduccionDiariaLeche != null and !listaTotalProduccionDiariaLeche.empty}">
            <table class="table">
                <thead class="table-dark">
                    <th>Nombre de la vaca</th>
                    <th>Litros - Mañana</th>
                    <th>Litros - Tarde</th>
                    <th>Total diario vaca</th>
                    <th>Fecha de produccion</th>
                </thead>
                <tr th:each="produccionDiariaLeche : ${listaTotalProduccionDiariaLeche}">
                    <td th:text="${produccionDiariaLeche.ganadoHembra.nombreGanadoHembra}">
                        Mostrar Nombre del ganado
                    </td>
                    <td th:text="${produccionDiariaLeche.produccionManianaLeche}">
                        Mostrar Produccion de leche por la mañana
                    </td>
                    <td th:text="${produccionDiariaLeche.produccionTardeLeche}">
                        Mostrar Produccion de leche por la tarde
                    </td>
                    <td th:text="${produccionDiariaLeche.totalProduccionLeche}">
                        Mostrar Produccion de leche por la tarde
                    </td>
                    <td th:text="${produccionDiariaLeche.fechaProduccionLeche}">
                        Mostrar fecha de produccion de leche
                    </td>
                    <tfoot>
                        <tr>
                            <td>Total:</td>
                            <td></td>
                            <td></td>
                            <td th:text="${#aggregates.sum(listaTotalProduccionDiariaLeche.![produccionManianaLeche +
                            produccionTardeLeche])}"></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-outline-primary btn-lg btn-block"
                    th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/lista}"><i
                        class="fa-solid fa-arrow-left"></i></a>
            </div>
        </div>
        <div th:if="${listaTotalProduccionDiariaLeche == null or listaTotalProduccionDiariaLeche.empty}">
            <h1>Se muestra el total de produccion diaria de leche</h1>
        </div>
    </div>
</body>

</html>