<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<div class="container py-3" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <h5 class="text-center">Alimentacion de becerras y terneras</h5>
    <div th:if="${not #lists.isEmpty(alimentacionBecerra)}">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Fecha</th>
                <th>Becerra</th>
                <th>Cantidad mañana</th>
                <th>Cantidad tarde</th>
                <th>Total cantidad</th>
                <th>Madre de la becerra</th>
                <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR', 'ROLE_USUARIO')">Editar</th>
                <th sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Dar baja</th>
            </tr>
            </thead>
            <tr th:each="alimentacionBecerra : ${alimentacionBecerra}">
                <td th:text="${#temporals.format(alimentacionBecerra.fechaAlimentacionBecerra, 'dd-MM-yyyy')}"></td>
                <td th:text="${alimentacionBecerra.becerra.becerra.nombreGanadoHembra}"></td>
                <td th:text="${alimentacionBecerra.cantidadManianaAlimentacion + ' litros'}"></td>
                <td th:text="${alimentacionBecerra.cantidadTardeAlimentacion + ' litros'}"></td>
                <td th:text="${alimentacionBecerra.totalAlimentacionBecerra + ' litros'}"></td>
                <td th:text="${alimentacionBecerra.becerra.madre.nombreGanadoHembra}"></td>
                <td sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                            th:data-bs-target="'#editModal_' + ${alimentacionBecerra.idAlimentacionBecerra}">
                        <i class="fa-sharp fa-solid fa-pencil"></i>
                    </button>
                    <div class="modal fade" th:id="'editModal_' + ${alimentacionBecerra.idAlimentacionBecerra}"
                         tabindex="-1"
                         th:attr="aria-labelledby='editModalLabel_' + ${alimentacionBecerra.idAlimentacionBecerra}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'editModalLabel_' + ${alimentacionBecerra.idAlimentacionBecerra}">
                                        ¿Estás seguro de que deseas editar esta alimentacion de becerra?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-ganado/alimentacion-becerra/editar/__${alimentacionBecerra.idAlimentacionBecerra}__}">Sí,
                                        quiero editar</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                                        cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#bajaModal_' + ${alimentacionBecerra.idAlimentacionBecerra}">
                        <i class="fa-sharp fa-solid fa-ban"></i>
                    </button>
                    <div class="modal fade" th:id="'bajaModal_' + ${alimentacionBecerra.idAlimentacionBecerra}"
                         tabindex="-1"
                         th:attr="aria-labelledby='bajaModalLabel_' + ${alimentacionBecerra.idAlimentacionBecerra}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'bajaModalLabel_' + ${alimentacionBecerra.idAlimentacionBecerra}">
                                        ¿Estás seguro de que deseas dar de baja esta alimentacion del becerro?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger"
                                       th:href="@{/modulo-ganado/alimentacion-becerra/baja(idAlimentacionBecerra=${alimentacionBecerra.idAlimentacionBecerra})}">Sí,
                                        dar de baja</a>
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tfoot></tfoot>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${alimentacionBecerraPage.hasPrevious()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/modulo-ubicacion/municipio/lista(pagina=${alimentacionBecerraPage.getNumber()-1})}"
                       aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link"
                                                th:text="${alimentacionBecerraPage.getNumber()+1}"></a>
                </li>
                <li th:if="${alimentacionBecerraPage.hasNext()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/modulo-ubicacion/municipio/lista(pagina=${alimentacionBecerraPage.getNumber()+1})}"
                       aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="py-3">
        <a class="btn btn-outline-primary btn-lg btn-block"
           th:href="@{/modulo-produccion-lacteos/produccion-diaria-leche/lista}"><i
                class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>
</body>

</html>
