<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
    <!-- Sección para agregar nuevo registro (solo visible para usuarios con rol "ROLE_ADMINISTRADOR") -->
    <div class="container-fluid py-3" layout:fragment="page-content"
        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
        <h5 class="text-center">Alimentacion de becerros</h5>
        <div th:if="${alimentacionBecerraList != null and !alimentacionBecerraList.empty}">
            <table class="table">
                <thead class="table-dark">
                    <th>Becerra</th>
                    <th>Fecha alimentacion</th>
                    <th>Cantidad alimentacion mañana</th>
                    <th>Cantidad alimentacion tarde</th>
                    <th>Madre del becerro</th>
                </thead>
                <tr th:each="alimentacionBecerra : ${alimentacionBecerraList}">
                    <td th:text="${alimentacionBecerra[0]}">Mostrar Nombre del becerro</td>
                    <td th:text="${alimentacionBecerra[1]}">Mostrar Fecha</td>
                    <td th:text="${alimentacionBecerra[2]}">Mostrar Cantidad alimentacion mañana</td>
                    <td th:text="${alimentacionBecerra[3]}">Mostrar Cantidad alimentacion tarde</td>
                    <td th:text="${alimentacionBecerra[4]}">Mostrar nombre de la madre</td>
                </tr>
                <tfoot></tfoot>
            </table>
        </div>
        <div th:if="${alimentacionBecerraList == null or alimentacionBecerraList.empty}">
            <h1>Esta hembra no tiene becerros ni terneros, por eso no hay registros de alimentacion</h1>
        </div>
    </div>
</body>

</html>