<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
    <div class="container py-5" layout:fragment="page-content"
        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-8 col-12">
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        <h5 class="card-title text-center">Municipio</h5>
                        <form th:action="@{/modulo-ubicacion/municipio/guardar}" method="post" th:object="${municipio}">
                            <input type="hidden" name="idMunicipio" th:field="*{idMunicipio}" />
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="nombreMunicipio">Municipio:</label>
                                <input class="form-control form-control-lg" type="text" required name="nombreMunicipio"
                                    th:field="*{nombreMunicipio}" />
                                <span th:if="${#fields.hasErrors('nombreMunicipio')}" class="text-danger"
                                    th:errors="*{nombreMunicipio}">Error nombre del municipio</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label form-label-lg"
                                    for="departamento.nombreDepartamento">Departamento:</label>
                                <div class="col-sm-8">
                                    <select th:field="*{departamento.idDepartamento}"
                                        name="departamento.nombreDepartamento" required
                                        class="form-select form-select-lg">
                                        <option th:each="departamento : ${listadoDepartamentos}"
                                            th:value="${departamento.idDepartamento}"
                                            th:text="${departamento.nombreDepartamento}"></option>
                                    </select>
                                    <span th:if="${#fields.hasErrors('departamento.nombreDepartamento')}"
                                        class="text-danger" th:errors="*{departamento.nombreDepartamento}">Error
                                        departamento</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="pais.nombrePais">Pais:</label>
                                <div class="col-sm-8">
                                    <select th:field="*{pais.idPais}" name="pais.nombrePais" required
                                        class="form-select form-select-lg">
                                        <option th:each="pais : ${listadoPaises}" th:value="${pais.idPais}"
                                            th:text="${pais.nombrePais}"></option>
                                    </select>
                                    <span th:if="${#fields.hasErrors('pais.nombrePais')}" class="text-danger"
                                        th:errors="*{pais.nombrePais}">Error
                                        Pais</span>
                                </div>
                            </div>
                            <input type="hidden" name="estadoMunicipio" th:field="*{estadoMunicipio}">
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <a class="btn btn-outline-primary btn-lg btn-block"
                                        th:href="@{/modulo-ubicacion/municipio/lista}"><i
                                            class="fa-solid fa-arrow-left"></i></a>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <button class="btn btn-outline-success btn-lg btn-block icon" type="submit"
                                        name="guardar"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>