<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<div class="container-fluid py-3" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <h5 class="text-center">Detalle del historial clínico ganado macho</h5>
    <div th:if="${detalleHistorialClinicoMachoList != null and !detalleHistorialClinicoMachoList.empty}">
        <table class="table">
            <thead class="table-dark">
            <th class="col-sm-2">Ganado</th>
            <th class="col-sm-2">Fecha</th>
            <th class="col-sm-6">Descripción</th>
            <th class="col-sm-1" sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR', 'ROLE_USUARIO')">
                Editar
            </th>
            <th class="col-sm-1" sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')">
                Dar baja
            </th>
            </thead>
            <tr th:each="detalleHistorialClinicoMacho, iterStat : ${detalleHistorialClinicoMachoList}">
                <td th:text="${detalleHistorialClinicoMacho[0]}">Mostrar Nombre del Ganado</td>
                <td th:text="${detalleHistorialClinicoMacho[1]}">Mostrar Fecha de Registro</td>
                <td th:text="${detalleHistorialClinicoMacho[2]}">Mostrar Descripción</td>
                <td sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                    <!-- Botón para abrir el modal de edición -->
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                            th:data-bs-target="'#editModal_' + ${iterStat.index}">
                        <i class="fa-sharp fa-solid fa-pencil"></i>
                    </button>
                    <!-- Modal de edición -->
                    <div class="modal fade" th:id="'editModal_' + ${iterStat.index}" tabindex="-1"
                         th:attr="aria-labelledby='editModalLabel_' + ${iterStat.index}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'editModalLabel_' + ${iterStat.index}">
                                        ¿Estás seguro de que deseas editar este registro?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para ir al formulario de edición -->
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-ganado/detalle-historial-clinico-macho/editar/{idDetalleHistorialClinicoMacho}(idDetalleHistorialClinicoMacho=${iterStat.index + 1})}">Sí,
                                        quiero editar</a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                                        cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                    <!-- Botón para abrir el modal de dar baja -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#bajaModal_' + ${iterStat.index}">
                        <i class="fa-sharp fa-solid fa-ban"></i>
                    </button>
                    <!-- Modal de dar baja -->
                    <div class="modal fade" th:id="'bajaModal_' + ${iterStat.index}" tabindex="-1"
                         th:attr="aria-labelledby='bajaModalLabel_' + ${iterStat.index}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'bajaModalLabel_' + ${iterStat.index}">
                                        ¿Estás seguro de que deseas dar de baja este registro?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para dar de baja el registro -->
                                    <a class="btn btn-danger"
                                       th:href="@{/modulo-ganado/detalle-historial-clinico-macho/baja/} + ${iterStat.index}">Sí,
                                        dar de baja</a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="py-3">
        <a class="btn btn-outline-primary btn-lg btn-block"
           th:href="@{/modulo-ganado/historial-clinico-macho/lista}"><i
                class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */
    /* Obtén todos los botones de edición */
    var editButtons = document.querySelectorAll('.btn-outline-warning[data-bs-toggle="modal"]');
    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    editButtons.forEach(function (button) {
        var targetModalId = button.getAttribute("data-bs-target");
        // Genera un identificador único para el modal
        var uniqueId = targetModalId.substring(targetModalId.lastIndexOf("_") + 1);
        // Asigna el identificador único al atributo "id" del modal correspondiente
        document.querySelector(targetModalId).setAttribute("id", "editModal_" + uniqueId);
    });

    /* Obtén todos los botones de dar baja */
    var bajaButtons = document.querySelectorAll('.btn-outline-danger[data-bs-toggle="modal"]');
    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    bajaButtons.forEach(function (button) {
        var targetModalId = button.getAttribute("data-bs-target");
        // Genera un identificador único para el modal
        var uniqueId = targetModalId.substring(targetModalId.lastIndexOf("_") + 1);
        // Asigna el identificador único al atributo "id" del modal correspondiente
        document.querySelector(targetModalId).setAttribute("id", "bajaModal_" + uniqueId);
    });
</script>
</body>

</html>
