<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<!-- Sección para agregar nuevo registro (solo visible para usuarios con rol "ROLE_ADMINISTRADOR") -->
<div class="container-fluid py-2" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <div class="form-control">
        <form th:action="@{encontrar-total-venta-producto-fecha(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')})}"
              method="get">
            <label for="fechaInicio">Fecha inicio</label>
            <input type="date" id="fechaInicio" name="fechaInicio" required>
            <label for="fechaFin">Fecha finalización</label>
            <input type="date" id="fechaFin" name="fechaFin" required>
            <button type="submit">Buscar</button>
        </form>
    </div>

    <div th:if="${totalVentaProductoFecha != null and !totalVentaProductoFecha.empty}" class="py-2">
        <div style="text-align: right">
            <a th:href="@{/modulo-gasto/gasto-diario-granja/total-gasto-diario-fecha/pdf(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')})}"
               target="_blank" class="btn btn-outline-info">Generar PDF</a>
        </div>
        <div class="py-2"></div>
        <table class="table">
            <thead class="table-dark">
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Cantidad productos</th>
            <th>Precio unidad</th>
            <th>Total venta</th>
            <th>Descuento</th>
            </thead>
            <tbody>
            <tr th:each="totalVentaProducto : ${totalVentaProductoFecha}">
                <td th:text="${totalVentaProducto.fechaVentaProducto}">
                    Mostrar descripcion del listadoVentasProducto
                </td>
                <td th:text="${totalVentaProducto.cliente.nombreCliente + ' ' + totalVentaProducto.cliente.apellidoCliente}">
                    Mostrar Nombre del listadoVentasProducto
                </td>
                <td th:text="${totalVentaProducto.inventarioProducto.detalleProducto}">
                    Mostrar Nombre del listadoVentasProducto
                </td>
                <td th:text="${totalVentaProducto.cantidadProducto}">
                    Mostrar descripcion del listadoVentasProducto
                </td>
                <td th:text="${totalVentaProducto.precioPorUnidad}">
                    Mostrar descripcion del listadoVentasProducto
                </td>
                <td th:text="${totalVentaProducto.totalPrecioProducto}">
                    Mostrar descripcion del listadoVentasProducto
                </td>
                <td th:text="${totalVentaProducto.descuentoProducto}">
                    Mostrar descripcion del listadoVentasProducto
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td th:text="${#aggregates.sum(totalVentaProductoFecha.![totalPrecioProducto])}"></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${ventaProductoPage.hasPrevious()}" class="page-item">
                    <a class="page-link"
                       th:href="@{encontrar-total-venta-producto-fecha(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, pagina=${ventaProductoPage.previousPageable().pageNumber})}"
                       aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" th:text="${ventaProductoPage.getNumber()+1}"></a>
                </li>
                <li th:if="${ventaProductoPage.hasNext()}" class="page-item">
                    <a class="page-link"
                       th:href="@{encontrar-total-venta-producto-fecha(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, pagina=${ventaProductoPage.nextPageable().pageNumber})}"
                       aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row py-2">
        <div class="col-sm-6">
            <a class="btn btn-outline-primary btn-lg btn-block"
               th:href="@{/modulo-venta/venta-producto/lista}"><i
                    class="fa-solid fa-arrow-left"></i></a>
        </div>
    </div>
</div>
</body>

</html>
