<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<div class="container py-2" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <div class="form-control">
        <form th:action="@{encontrar-total-venta-producto-fecha(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')})}"
              method="get">
            <label for="fechaInicio">Fecha inicio</label>
            <input type="date" id="fechaInicio" name="fechaInicio" required>
            <label for="fechaFin">Fecha finalización</label>
            <input type="date" id="fechaFin" name="fechaFin" required>
            <!-- Campo de selección para filtrar registros por producto detallado -->
            <label class="form-label form-label-lg" for="detalleProducto">Producto:</label>
            <select id="detalleProducto" name="detalleProducto">
                <option value="0">Todos</option>
                <option th:each="producto : ${obtenerListaProductoDetalle}" th:value="${producto.idDetalleProducto}"
                        th:text="${producto.toString()}"></option>
            </select>
            <button type="submit">Buscar</button>
        </form>
    </div>

    <div th:if="${not #lists.isEmpty(totalVentaProductoFecha)}" class="py-2">
        <div style="text-align: right">
            <a th:href="@{/modulo-venta/venta-producto/total-venta-producto-fecha/pdf(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, detalleProducto=${#request.getParameter('detalleProducto')})}"
               target="_blank" class="btn btn-outline-info">Generar PDF</a>
            <a th:href="@{/modulo-venta/venta-producto/total-venta-producto-fecha/excel(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, detalleProducto=${#request.getParameter('detalleProducto')})}"
               class="btn btn-outline-success">Generar Excel</a>
        </div>
        <div class="py-2"></div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Cantidad productos</th>
                <th>Precio unidad</th>
                <th>Total venta</th>
                <th>Descuento</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="totalVentaProducto : ${totalVentaProductoFecha}">
                <td th:text="${#temporals.format(totalVentaProducto.getFechaVentaProducto(), 'dd-MM-yyyy')}">
                </td>
                <td th:text="${totalVentaProducto.cliente.nombreCliente + ' ' + totalVentaProducto.cliente.apellidoCliente}">
                </td>
                <td th:text="${totalVentaProducto.inventarioProducto.detalleProducto}">
                </td>
                <td th:text="${totalVentaProducto.cantidadProducto}">
                </td>
                <td th:text="${totalVentaProducto.precioPorUnidad}">
                </td>
                <td th:text="${totalVentaProducto.totalPrecioProducto}">
                </td>
                <td th:text="${totalVentaProducto.descuentoProducto}">
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td th:text="${sumarTotalPrecioProducto} + ' Quetzales'"></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${ventaProductoPage.hasPrevious()}" class="page-item">
                    <a class="page-link"
                       th:href="@{encontrar-total-venta-producto-fecha(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, pagina=${ventaProductoPage.previousPageable().pageNumber})}"
                       aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" th:text="${ventaProductoPage.getNumber()+1}"></a>
                </li>
                <li th:if="${ventaProductoPage.hasNext()}" class="page-item">
                    <a class="page-link"
                       th:href="@{encontrar-total-venta-producto-fecha(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, pagina=${ventaProductoPage.nextPageable().pageNumber})}"
                       aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row py-2">
        <div class="col-sm-6">
            <a class="btn btn-outline-primary btn-lg btn-block"
               th:href="@{/modulo-venta/venta-producto/lista}"><i
                    class="fa-solid fa-arrow-left"></i></a>
        </div>
    </div>
</div>
</body>

</html>
