<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<div class="container-fluid py-3" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')" class="mb-3">
        <h3 class="text-center">Ventas</h3>
        <a class="btn btn-outline-success" th:href="@{/modulo-venta/venta-producto/agregar}"><i
                class="fa-solid fa-plus"></i> Realizar venta</a>
        <a class="btn btn-outline-primary"
           th:href="@{/modulo-venta/venta-producto/total-venta-producto-fecha}">
            Total venta producto por fecha</a>
    </div>
    <div th:if="${not #lists.isEmpty(listadoVentasProducto)}">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Cantidad productos</th>
                <th>Precio unidad</th>
                <th>Total venta</th>
                <th>Descuento</th>
                <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                    Editar
                </th>
                <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')">Dar baja</th>
            </tr>
            </thead>
            <tr th:each="ventaProducto : ${listadoVentasProducto}">
                <td th:text="${#temporals.format(ventaProducto.getFechaVentaProducto(), 'dd-MM-yyyy')}">
                </td>
                <td th:text="${ventaProducto.cliente.nombreCliente + ' ' + ventaProducto.cliente.apellidoCliente}">
                </td>
                <td th:text="${ventaProducto.inventarioProducto.detalleProducto}">
                </td>
                <td th:text="${ventaProducto.cantidadProducto}">
                </td>
                <td th:text="${ventaProducto.precioPorUnidad}">
                </td>
                <td th:text="${ventaProducto.totalPrecioProducto}">
                </td>
                <td th:text="${ventaProducto.descuentoProducto}">
                </td>
                <td sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                    <!-- Botón para abrir el modal de edición -->
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                            th:data-bs-target="'#editModal_' + ${ventaProducto.idVentaProducto}">
                        <i class="fa-sharp fa-solid fa-pencil"></i>
                    </button>
                    <!-- Modal de edición -->
                    <div class="modal fade" th:id="'editModal_' + ${ventaProducto.idVentaProducto}" tabindex="-1"
                         th:attr="aria-labelledby='editModalLabel_' + ${ventaProducto.idVentaProducto}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'editModalLabel_' + ${ventaProducto.idVentaProducto}">
                                        ¿Estás seguro de que deseas editar este producto?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para ir al formulario de edición -->
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-venta/venta-producto/editar/__${ventaProducto.idVentaProducto}__}">Sí,
                                        quiero editar</a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                                        cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                    <!-- Botón para abrir el modal de dar baja -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#bajaModal_' + ${ventaProducto.idVentaProducto}">
                        <i class="fa-sharp fa-solid fa-ban"></i>
                    </button>
                    <!-- Modal de dar baja -->
                    <div class="modal fade" th:id="'bajaModal_' + ${ventaProducto.idVentaProducto}" tabindex="-1"
                         th:attr="aria-labelledby='bajaModalLabel_' + ${ventaProducto.idVentaProducto}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'bajaModalLabel_' + ${ventaProducto.idVentaProducto}">
                                        ¿Estás seguro de que deseas dar de baja este producto?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para dar de baja la categoría de ganado -->
                                    <a class="btn btn-danger"
                                       th:href="@{/modulo-venta/venta-producto/baja(idVentaProducto=${ventaProducto.idVentaProducto})}">Sí,
                                        dar de baja</a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tfoot>
            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td th:text="${'Q. ' + sumaTotalPrecioProducto}"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="py-3">
        <a class="btn btn-outline-primary btn-lg btn-block"
           th:href="@{/modulo-venta}"><i
                class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de edición */
    let editButtons = document.querySelectorAll('.btn-outline-warning[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    editButtons.forEach(function (button) {
        let targetModalId = button.getAttribute("data-bs-target");
        let modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de edición
        let uniqueModalId = "editModal_" + modalId.replace("#editModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        let modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de dar baja */
    let deleteButtons = document.querySelectorAll('.btn-outline-danger[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    deleteButtons.forEach(function (button) {
        let targetModalId = button.getAttribute("data-bs-target");
        let modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de dar baja
        let uniqueModalId = "bajaModal_" + modalId.replace("#bajaModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        let modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
</body>

</html>
