<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<div class="container py-3" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <h3 class="text-center">Historial clinico ganado macho</h3>
    <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')" class="mb-3">
        <a class="btn btn-outline-success" th:href="@{/modulo-ganado/historial-clinico-macho/agregar}"><i
                class="fa-solid fa-plus"></i>
            Agregar historial clinico ganado macho</a>
    </div>
    <div th:if="${not #lists.isEmpty(historialClinicoMachos)}">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Fecha ingreso granja</th>
                <th>Ganado</th>
                <th>Procedencia</th>
                <th>Condiciones fisicas recibido</th>
                <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                    Historial clinico
                </th>
                <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                    Editar
                </th>
                <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')">
                    Dar baja
                </th>
            </tr>
            </thead>
            <tr th:each="historialClinicoMacho : ${historialClinicoMachos}">
                <td th:text="${#temporals.format(historialClinicoMacho.getFechaIngresoGranja(), 'dd-MM-yyyy')}">
                </td>
                <td th:text="${historialClinicoMacho.ganadoMacho.nombreGanadoMacho}">
                </td>
                <td th:text="${historialClinicoMacho.procedenciaGanadoMacho}">
                </td>
                <td th:text="${historialClinicoMacho.condicionesFisicasRecibido}">
                </td>
                <td sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                    <!-- Botón para abrir el modal de alimentacion becerro -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#alimentacionModal_' + ${historialClinicoMacho.idHistorialClinicoMacho}"
                            data-id="${historialClinicoMacho.idHistorialClinicoMacho}">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <!-- Modal de alimentacion becerro -->
                    <div class="modal fade"
                         th:id="'alimentacionModal_' + ${historialClinicoMacho.idHistorialClinicoMacho}"
                         tabindex="-1"
                         th:attr="aria-labelledby='alimentacionModal_' + ${historialClinicoMacho.idHistorialClinicoMacho}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'alimentacionModal_' + ${historialClinicoMacho.idHistorialClinicoMacho}">
                                        ¿Estás seguro de que deseas agregar un registro al detalle del historial
                                        clinico?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para ir al formulario de edición -->
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-ganado/detalle-historial-clinico-macho/agregar(idHistorialClinicoMacho=${historialClinicoMacho.idHistorialClinicoMacho})}">
                                        Agregar
                                    </a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                                        cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Botón para abrir el modal de alimentacion becerro -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#verModalAlimentacion_' + ${historialClinicoMacho.idHistorialClinicoMacho}"
                            data-id="${historialClinicoMacho.idHistorialClinicoMacho}">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                    <!-- Modal de alimentacion becerro -->
                    <div class="modal fade"
                         th:id="'verModalAlimentacion_' + ${historialClinicoMacho.idHistorialClinicoMacho}"
                         tabindex="-1"
                         th:attr="aria-labelledby='verModalAlimentacion_' + ${historialClinicoMacho.idHistorialClinicoMacho}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'verModalAlimentacion_' + ${historialClinicoMacho.idHistorialClinicoMacho}">
                                        ¿Estás seguro de que deseas ver el registro del detalle del historial clinico?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para ir al formulario de edición -->
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-ganado/detalle-historial-clinico-macho/lista(idHistorialClinicoMacho=${historialClinicoMacho.idHistorialClinicoMacho})}">
                                        Ver
                                    </a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                                        cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                    <!-- Botón para abrir el modal de edición -->
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                            th:data-bs-target="'#editModal_' + ${historialClinicoMacho.idHistorialClinicoMacho}">
                        <i class="fa-sharp fa-solid fa-pencil"></i>
                    </button>
                    <!-- Modal de edición -->
                    <div class="modal fade" th:id="'editModal_' + ${historialClinicoMacho.idHistorialClinicoMacho}"
                         tabindex="-1"
                         th:attr="aria-labelledby='editModalLabel_' + ${historialClinicoMacho.idHistorialClinicoMacho}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'editModalLabel_' + ${historialClinicoMacho.idHistorialClinicoMacho}">
                                        ¿Estás seguro de que deseas editar este registro de historial clinico macho?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para ir al formulario de edición -->
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-ganado/historial-clinico-macho/editar/__${historialClinicoMacho.idHistorialClinicoMacho}__}">Sí,
                                        quiero editar</a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                                        cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                    <!-- Botón para abrir el modal de dar baja -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#bajaModal_' + ${historialClinicoMacho.idHistorialClinicoMacho}">
                        <i class="fa-sharp fa-solid fa-ban"></i>
                    </button>
                    <!-- Modal de dar baja -->
                    <div class="modal fade" th:id="'bajaModal_' + ${historialClinicoMacho.idHistorialClinicoMacho}"
                         tabindex="-1"
                         th:attr="aria-labelledby='bajaModalLabel_' + ${historialClinicoMacho.idHistorialClinicoMacho}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'bajaModalLabel_' + ${historialClinicoMacho.idHistorialClinicoMacho}">
                                        ¿Estás seguro de que deseas dar de baja este registro de historial clinico
                                        macho?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para dar de baja la categoría de ganado -->
                                    <a class="btn btn-danger"
                                       th:href="@{/modulo-ganado/historial-clinico-macho/baja(idHistorialClinicoMacho=${historialClinicoMacho.idHistorialClinicoMacho})}">Sí,
                                        dar de baja</a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tfoot></tfoot>
        </table>
    </div>
    <div class="py-3">
        <a class="btn btn-outline-primary btn-lg btn-block"
           th:href="@{/modulo-ganado}"><i
                class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de edición */
    let editButtons = document.querySelectorAll('.btn-outline-warning[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    editButtons.forEach(function (button) {
        let targetModalId = button.getAttribute("data-bs-target");
        let modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de edición
        let uniqueModalId = "alimentacionModal_" + modalId.replace("#alimentacionModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        let modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de edición */
    let editButtons = document.querySelectorAll('.btn-outline-warning[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    editButtons.forEach(function (button) {
        let targetModalId = button.getAttribute("data-bs-target");
        let modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de edición
        let uniqueModalId = "verModalAlimentacion_" + modalId.replace("#verModalAlimentacion_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        let modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de edición */
    let editButtons = document.querySelectorAll('.btn-outline-warning[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    editButtons.forEach(function (button) {
        let targetModalId = button.getAttribute("data-bs-target");
        let modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de edición
        let uniqueModalId = "editModal_" + modalId.replace("#editModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        let modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de dar baja */
    let deleteButtons = document.querySelectorAll('.btn-outline-danger[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    deleteButtons.forEach(function (button) {
        let targetModalId = button.getAttribute("data-bs-target");
        let modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de dar baja
        let uniqueModalId = "bajaModal_" + modalId.replace("#bajaModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        let modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
</body>

</html>
