<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Granja Santa Maria</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.1/dist/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script>
        //OCULTA LA OPCION DE CERRAR SESION
        $(document).ready(function () {
            $("#navbarDropdown").on("click", function () {
                $(".dropdown-menu").toggle();
            });
            $(".navbar-toggler-icon").on("click", function () {
                $("#navbarSupportedContent").toggle();
            });
            // Seleccionar el elemento del botón y el elemento de la barra de navegación con jQuery
            let sidebarToggle = $("#sidebarToggle");
            let sidebar = $("#sidebar");
            // Agregar un evento de clic al botón con el método on
            sidebarToggle.on("click", function () {
                // Mostrar u ocultar la barra de navegación con el método toggle
                sidebar.toggle();
            });
        });
    </script>
</head>

<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <form method="get" th:action="@{/}">
                <a class="list-group-item list-group-item-action list-group-item-ligth p-3" href="#"
                   onclick="this.parentNode.submit();">Granja Santa Maria</a>
            </form>
        </div>
        <div class="list-group list-group-flush">
            <form method="get" th:action="@{/modulo-ganado}">
                <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#"
                   onclick="this.parentNode.submit();">Ganado</a>
            </form>
            <form method="get" th:action="@{/modulo-produccion-lacteos}">
                <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#"
                   onclick="this.parentNode.submit();">Produccion lacteos</a>
            </form>
            <form method="get" th:action="@{/modulo-producto}">
                <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#"
                   onclick="this.parentNode.submit();">Productos</a>
            </form>
            <form method="get" th:action="@{/modulo-inventario}">
                <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#"
                   onclick="this.parentNode.submit();">Inventario productos</a>
            </form>
            <form method="get" th:action="@{/modulo-venta}">
                <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#"
                   onclick="this.parentNode.submit();">Ventas</a>
            </form>
            <form method="get" th:action="@{/modulo-gasto}">
                <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#"
                   onclick="this.parentNode.submit();">Gastos granja</a>
            </form>
            <form method="get" th:action="@{/modulo-balance}">
                <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#"
                   onclick="this.parentNode.submit();">Balance</a>
            </form>
            <form method="get" th:action="@{/modulo-persona}">
                <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#"
                   onclick="this.parentNode.submit();">Personas</a>
            </form>
            <form method="get" th:action="@{/modulo-ubicacion}">
                <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="#"
                   onclick="this.parentNode.submit();">Ubicaciones</a>
            </form>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-outline-primary" id="sidebarToggle">
                    Barra de navegacion
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opciones</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <form method="post" th:action="@{/logout}">
                                    <a class="dropdown-item" href="#" onclick="this.parentNode.submit();">Cerrar
                                        Sesion</a>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid" layout:fragment="page-content"></div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script th:src="@{/js/bootstrap.bundle.min.js}">
</script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}"></script>
<!--OTRO SCRIPTS PARA PAGINAS-->
<th:block layout:fragment="page-scripts">
    <script>
        function calcularTotalVenta() {
            let cantidadProducto = parseFloat(document.getElementById('cantidadProducto').value);
            let precioUnidad = parseFloat(document.getElementById('precioPorUnidad').value);
            let descuento = parseFloat(document.getElementById('descuentoProducto').value);
            document.getElementById('totalPrecioProducto').value = ((isNaN(cantidadProducto) ? 0 : cantidadProducto) * (isNaN(precioUnidad) ? 0 : precioUnidad)) - (isNaN(descuento) ? 0 : descuento);
        }

        function calcularTotalDiarioGasto() {
            let cantidad = parseFloat(document.getElementById('unidadesAdquiridas').value);
            let valorUnitario = parseFloat(document.getElementById('valorUnitario').value);
            document.getElementById('valorTotal').value = (isNaN(cantidad) ? 0 : cantidad) * (isNaN(valorUnitario) ? 0 : valorUnitario);

        }

        function calcularTotalAlimentacionBecerrasTerneras() {
            let alimentacionManianaBecerrasTerneras = parseFloat(document.getElementById('cantidadManianaAlimentacionBecerraTernera').value);
            let alimentacionTardeBecerrasTerneras = parseFloat(document.getElementById('cantidadTardeAlimentacionBecerraTernera').value);
            document.getElementById('totalAlimentacionBecerraTernera').value = (isNaN(alimentacionManianaBecerrasTerneras) ? 0 : alimentacionManianaBecerrasTerneras) + (isNaN(alimentacionTardeBecerrasTerneras) ? 0 : alimentacionTardeBecerrasTerneras);
        }

        function calcularTotalAlimentacionBecerrosTerneros() {
            let alimentacionManianaBecerrosTerneros = parseFloat(document.getElementById('cantidadManianaAlimentacionBecerroTernero').value);
            let alimentacionTardeBecerrosTerneros = parseFloat(document.getElementById('cantidadTardeAlimentacionBecerroTernero').value);
            document.getElementById('totalAlimentacionBecerroTernero').value = (isNaN(alimentacionManianaBecerrosTerneros) ? 0 : alimentacionManianaBecerrosTerneros) + (isNaN(alimentacionTardeBecerrosTerneros) ? 0 : alimentacionTardeBecerrosTerneros);

        }

        function mostrarExistencia(idInventarioProducto) {
            $.ajax({
                url: "/modulo-venta/venta-producto/existencia/" + idInventarioProducto,
                type: "GET",
                success: function (data) {
                    $("#existencia").html("<div class='alert alert-primary' role='alert'>Hay " + data + " unidades disponibles</div>");
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
</th:block>
</body>

</html>
