<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<div class="container-fluid py-5 row" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR', 'ROLE_USUARIO')">
    <div class="col-6 mb-6 py-5">
        <div class="card" style="border: none;">
            <div class="text-center">
                <img src="/img/logo-granja-santa-maria.jpg" alt="Logo Granja Santa Maria"
                     style="max-width: 100%; max-height: 100%;">
            </div>
        </div>
    </div>
    <div class="col-6 mb-6 py-5">
        <div class="card">
            <div class="card-body">
                <div class="card-title text-center"><h3><b>Producción de leche</b></h3></div>
                <i class="fas fa-mug-hot milk-icon"></i>
                <h5 class="text-center py-5" th:text="${totalProduccionDiaria} + ' Litros de leche'"></h5>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-scripts"></th:block>
</body>

</html>
