<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Granja Santa Maria</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.1/dist/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container-fluid py-5">
    <div class="row justify-content-center container-fluid py-5">
        <div class="col-sm-8 col-12 py-5">
            <div class="mx-auto card bg-light text-dark">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="text-center">
                            <img src="/img/logo-granja-santa-maria.jpg" alt="Logo de Granja Santa Maria" width="400">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title text-center py-4">Inicio de sesión</h5>
                            <form method="post" th:action="@{/login}">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Usuario:</label>
                                    <input type="text" name="username" id="username"
                                           placeholder="Ingrese su nombre de usuario"
                                           class="form-control form-control-lg"
                                           required/>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Contraseña:</label>
                                    <input type="password" name="password" id="password"
                                           placeholder="Ingrese su contraseña"
                                           class="form-control form-control-lg" required/>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-outline-primary btn-lg btn-block mx-auto">
                                        Iniciar Sesión
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
