<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
    <div class="container-fluid py-5 row" layout:fragment="page-content">
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Raza de ganado</h5>
                    <p class="card-text">
                        Aqui puede encontrar informacion de la raza de ganado
                    </p>
                    <form method="get" th:action="@{/modulo-ganado/raza-ganado/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tipo de ganado</h5>
                    <p class="card-text">
                        Aqui puede encontrar informacion del tipo de ganado
                    </p>
                    <form method="get" th:action="@{/modulo-ganado/tipo-ganado/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ganado Macho</h5>
                    <p class="card-text">
                        Aqui puede encontrar informacion del ganado
                    </p>
                    <form method="get" th:action="@{/modulo-ganado/ganado-macho/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ganado Hembra</h5>
                    <p class="card-text">
                        Aqui puede encontrar informacion del ganado
                    </p>
                    <form method="get" th:action="@{/modulo-ganado/ganado-hembra/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Alimentacion becerros</h5>
                    <p class="card-text">
                        Aqui puede encontrar informacion de la alimentacion abecerros
                    </p>
                    <form method="get" th:action="@{/modulo-ganado/alimentacion-becerro/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>