<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<div class="container-fluid py-5" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-12">
            <div class="card bg-light text-dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Ganado macho</h5>
                    <form th:action="@{/modulo-ganado/ganado-macho/guardar}" method="post"
                          th:object="${ganadoMacho}" id="guardarFormulario" enctype="multipart/form-data">
                        <input type="hidden" name="idGanadoMacho" th:field="*{idGanadoMacho}"/>
                        <div class="mb-3">
                            <label class="form-label form-label-lg" for="image">Imagen:</label>
                            <input id="image" type="file" name="image" accept="image/*" class="form-control-file"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label form-label-lg" for="nombreGanadoMacho">Nombre:</label>
                            <input id="nombreGanadoMacho" class="form-control form-control-lg" type="text" required
                                   name="nombreGanadoMacho" th:field="*{nombreGanadoMacho}"/>
                            <span th:if="${#fields.hasErrors('nombreGanadoMacho')}" class="text-danger"
                                  th:errors="*{nombreGanadoMacho}">Error nombre del ganado</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label form-label-lg" for="tipoGanado.nombreTipoGanado">Tipo:</label>
                            <div class="col-sm-8">
                                <select id="tipoGanado.nombreTipoGanado" th:field="*{tipoGanado.idTipoGanado}"
                                        name="tipoGanado.nombreTipoGanado"
                                        required class="form-select form-select-lg">
                                    <option th:each="tipoGanado : ${listaTiposGanado}"
                                            th:value="${tipoGanado.idTipoGanado}"
                                            th:text="${tipoGanado.nombreTipoGanado}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('tipoGanado.nombreTipoGanado')}"
                                      class="text-danger" th:errors="*{tipoGanado.nombreTipoGanado}">Error
                                        Tipo de ganado</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label form-label-lg" for="razaGanado.nombreRazaGanado">Raza:</label>
                            <div class="col-sm-8">
                                <select id="razaGanado.nombreRazaGanado" th:field="*{razaGanado.idRazaGanado}"
                                        name="razaGanado.nombreRazaGanado"
                                        required class="form-select form-select-lg">
                                    <option th:each="razaGanado : ${listaRazasGanado}"
                                            th:value="${razaGanado.idRazaGanado}"
                                            th:text="${razaGanado.nombreRazaGanado}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('razaGanado.nombreRazaGanado')}"
                                      class="text-danger" th:errors="*{razaGanado.nombreRazaGanado}">Error
                                        Raza ganado</span>
                            </div>
                        </div>
                        <input type="hidden" name="estadoGanadoMacho" th:field="*{estadoGanadoMacho}">
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <a class="btn btn-outline-primary btn-lg btn-block"
                                   th:href="@{/modulo-ganado/ganado-macho/lista}"><i
                                        class="fa-solid fa-arrow-left"></i></a>
                            </div>
                            <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')"
                                 class="col-sm-6 mb-3">
                                <button type="button" class="btn btn-outline-success btn-lg btn-block"
                                        data-bs-toggle="modal" data-bs-target="#guardarModal">
                                    <i class="fa-solid fa-floppy-disk"></i> Guardar
                                </button>
                                <div class="modal fade" id="guardarModal" tabindex="-1"
                                     aria-labelledby="guardarModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="guardarModalLabel">Guardar ganado</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>¿Estás seguro de que deseas guardar este ganado macho?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <!-- Este es el botón que realiza la acción de guardar -->
                                                <button type="submit" class="btn btn-success" name="guardar">
                                                    Guardar
                                                </button>
                                                <!-- Este es el botón que cierra el modal -->
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Cancelar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /* Generar ID único para el modal de guardar */

    // Obtén el botón de guardar
    let guardarButton = document.querySelector('.btn-outline-success[data-bs-toggle="modal"]');

    // Obtén el atributo 'data-bs-target' del botón
    let targetGuardarModalId = guardarButton.getAttribute("data-bs-target");

    // Obtén el atributo 'id' del botón
    let modalIdGuardar = guardarButton.getAttribute("id");

    // Crea un identificador único para el modal de guardar
    let uniqueModalIdGuardar = "guardarModal_" + modalIdGuardar.replace("#guardarModal_", "");

    // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
    guardarButton.setAttribute("data-bs-target", "#" + uniqueModalIdGuardar);

    // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
    let modalGuardar = document.querySelector(targetGuardarModalId);
    modalGuardar.setAttribute("id", uniqueModalIdGuardar);
</script>
</body>

</html>
