<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
    <div class="container-fluid py-5" layout:fragment="page-content"
        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-8 col-12">
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        <h5 class="card-title text-center">Categoria ganado</h5>
                        <form th:action="@{/modulo-ganado/categoria-ganado/guardar}" method="post"
                            th:object="${categoriaGanado}">
                            <input type="hidden" name="idCategoriaGanado" th:field="*{idCategoriaGanado}" />
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="nombreCategoriaGanado">Nombre categoria
                                    ganado:</label>
                                <input class="form-control form-control-lg" type="text" required
                                    name="nombreCategoriaGanado" th:field="*{nombreCategoriaGanado}" />
                                <span th:if="${#fields.hasErrors('nombreCategoriaGanado')}" class="text-danger"
                                    th:errors="*{nombreCategoriaGanado}">Error nombre categoria de ganado</span>
                            </div>
                            <input type="hidden" name="estadoCategoriaGanado" th:field="*{estadoCategoriaGanado}">
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <a class="btn btn-outline-primary btn-light btn-block"
                                        th:href="@{/modulo-ganado/categoria-ganado/lista}">Regresar</a>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <input class="btn btn-outline-success btn-light btn-block" type="submit"
                                        name="guardar" value="Guardar" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>