<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
    <div class="container-fluid py-5" layout:fragment="page-content"
        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-8 col-12">
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        <h5 class="card-title text-center">Inforarmacion sobre el ganado</h5>
                        <form th:action="@{/modulo-ganado/ganado/guardar}" method="post" th:object="${ganado}"
                            id="guardarFormulario">
                            <input type="hidden" name="idGanado" th:field="*{idGanado}" />
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="nombreGanado">Nombre:</label>
                                <input class="form-control form-control-lg" type="text" required name="nombreGanado"
                                    th:field="*{nombreGanado}" />
                                <span th:if="${#fields.hasErrors('nombreGanado')}" class="text-danger"
                                    th:errors="*{nombreGanado}">Error nombre del ganado</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="pesoGanado">Peso en kilos:</label>
                                <input class="form-control form-control-lg" type="number" step="0.01" required
                                    name="pesoGanado" th:field="*{pesoGanado}" />
                                <span th:if="${#fields.hasErrors('pesoGanado')}" class="text-danger"
                                    th:errors="*{pesoGanado}">Error
                                    pesoGanado del ganado</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="fechaIngresoGanado">Fecha de ingreso a la
                                    granja:</label>
                                <input class="form-control form-control-lg" type="date" required
                                    name="fechaIngresoGanado" th:field="*{fechaIngresoGanado}" />
                                <span th:if="${#fields.hasErrors('fechaIngresoGanado')}" class="text-danger"
                                    th:errors="*{fechaIngresoGanado}">Error
                                    Fecha de ingreso a la granja</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="tipoGanado.nombreTipoGanado">Tipo:</label>
                                <div class="col-sm-8">
                                    <select th:field="*{tipoGanado.idTipoGanado}" name="tipoGanado.nombreTipoGanado"
                                        required class="form-select form-select-lg">
                                        <option th:each="tipoGanado : ${listaTiposGanado}"
                                            th:value="${tipoGanado.idTipoGanado}"
                                            th:text="${tipoGanado.nombreTipoGanado}"></option>
                                    </select>
                                    <span th:if="${#fields.hasErrors('tipoGanado.nombreTipoGanado')}"
                                        class="text-danger" th:errors="*{tipoGanado.nombreTipoGanado}">Error
                                        Tipo de ganado</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label form-label-lg" for="razaGanado.nombreRazaGanado">Raza:</label>
                                <div class="col-sm-8">
                                    <select th:field="*{razaGanado.idRazaGanado}" name="razaGanado.nombreRazaGanado"
                                        required class="form-select form-select-lg">
                                        <option th:each="razaGanado : ${listaRazasGanado}"
                                            th:value="${razaGanado.idRazaGanado}"
                                            th:text="${razaGanado.nombreRazaGanado}"></option>
                                    </select>
                                    <span th:if="${#fields.hasErrors('razaGanado.nombreRazaGanado')}"
                                        class="text-danger" th:errors="*{razaGanado.nombreRazaGanado}">Error
                                        Raza ganado</span>
                                </div>
                            </div>
                            <input type="hidden" name="estadoGanado" th:field="*{estadoGanado}">
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <a class="btn btn-outline-primary btn-lg btn-block"
                                        th:href="@{/modulo-ganado/ganado/lista}"><i
                                            class="fa-solid fa-arrow-left"></i></a>
                                </div>
                                <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')"
                                    class="col-sm-6 mb-3">
                                    <button type="button" class="btn btn-outline-success btn-lg btn-block"
                                        data-bs-toggle="modal" data-bs-target="#guardarModal">
                                        <i class="fa-solid fa-floppy-disk"></i> Guardar
                                    </button>
                                    <div class="modal fade" id="guardarModal" tabindex="-1"
                                        aria-labelledby="guardarModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="guardarModalLabel">Guardar ganado</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Estás seguro de que deseas guardar este ganado?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <!-- Este es el botón que realiza la acción de guardar -->
                                                    <button type="submit" class="btn btn-success" name="guardar">
                                                        Guardar
                                                    </button>
                                                    <!-- Este es el botón que cierra el modal -->
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /* Generar ID único para el modal de guardar */

        // Obtén el botón de guardar
        var guardarButton = document.querySelector('.btn-outline-success[data-bs-toggle="modal"]');

        // Obtén el atributo 'data-bs-target' del botón
        var targetGuardarModalId = guardarButton.getAttribute("data-bs-target");

        // Obtén el atributo 'id' del botón
        var modalIdGuardar = guardarButton.getAttribute("id");

        // Crea un identificador único para el modal de guardar
        var uniqueModalIdGuardar = "guardarModal_" + modalIdGuardar.replace("#guardarModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        guardarButton.setAttribute("data-bs-target", "#" + uniqueModalIdGuardar);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        var modalGuardar = document.querySelector(targetGuardarModalId);
        modalGuardar.setAttribute("id", uniqueModalIdGuardar);
    </script>
</body>

</html>