<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
    <div class="container-fluid py-5 row" layout:fragment="page-content">
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Productos</h5>
                    <p class="card-text">
                        Esta es la seccion donde podra encontrar informacion de los productos
                    </p>
                    <form method="get" th:action="@{/modulo-venta/producto/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Medida Productos</h5>
                    <p class="card-text">
                        Esta es la seccion donde podra encontrar informacion de los productos
                    </p>
                    <form method="get" th:action="@{/modulo-venta/medida-producto/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contenedor Productos</h5>
                    <p class="card-text">
                        Esta es la seccion donde podra encontrar informacion de los productos
                    </p>
                    <form method="get" th:action="@{/modulo-venta/contenedor-producto/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Descripcion Productos</h5>
                    <p class="card-text">
                        Esta es la seccion donde podra encontrar informacion de los productos
                    </p>
                    <form method="get" th:action="@{/modulo-venta/descripcion-producto/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Detalle Productos</h5>
                    <p class="card-text">
                        Esta es la seccion donde podra encontrar informacion de los productos
                    </p>
                    <form method="get" th:action="@{/modulo-venta/detalle-producto/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Realizar Venta</h5>
                    <p class="card-text">
                        Esta es la seccion donde podra encontrar informacion de los productos
                    </p>
                    <form method="get" th:action="@{/modulo-venta/venta-producto/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inventario de productos</h5>
                    <p class="card-text">
                        Esta es la seccion donde podra encontrar informacion de los productos
                    </p>
                    <form method="get" th:action="@{/modulo-venta/inventario-producto/lista}">
                        <a class="btn btn-outline-primary" href="#" onclick="this.parentNode.submit();"><i
                                class="fa-solid fa-arrow-right"></i> Entrar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>