<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <!-- Sección para agregar nuevo registro (solo visible para usuarios con rol "ROLE_ADMINISTRADOR") -->
    <div class="container-fluid py-5" layout:fragment="page-content"
        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
        <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')" class="mb-3">
            <a class="btn btn-outline-success" th:href="@{/modulo-persona/cliente/agregar}"><i
                    class="fa-solid fa-plus"></i> Crear nuevo registro</a>
        </div>
        <div th:if="${clientes != null and !clientes.empty}">
            <table class="table">
                <thead class="table-dark">
                    <th>Nombre cliente</th>
                    <th>Apellido Cliente</th>
                    <th>Direccion Cliente</th>
                    <th>Pais al que pertenece</th>
                    <th>Departamento al que pertenece</th>
                    <th>Municipio al que pertenece</th>
                    <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                        Editar
                    </th>
                    <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')">Dar baja</th>
                    <th sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Eliminar</th>
                </thead>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nombreCliente}">
                        Mostrar Nombre del Cliente
                    </td>
                    <td th:text="${cliente.apellidoCliente}">
                        Mostrar Apellido del Cliente
                    </td>
                    <td th:text="${cliente.direccionCliente}">
                        Mostrar Direccion del Cliente
                    </td>
                    <td th:text="${cliente.pais.nombrePais}">
                        Mostrar nombre del Pais
                    </td>
                    <td th:text="${cliente.departamento.nombreDepartamento}">
                        Mostrar nombre del Departamento
                    </td>
                    <td th:text="${cliente.municipio.nombreMunicipio}">
                        Mostrar nombre del Municipio
                    </td>
                    <td sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                        <a class="btn btn-outline-warning"
                            th:href="@{/modulo-persona/cliente/editar/} + ${cliente.idCliente}"><i
                                class="fa-sharp fa-solid fa-pencil"></i></a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                        <a type="submit" class="btn btn-outline-danger btn-dar-baja"
                            th:href="@{/modulo-persona/cliente/baja(idCliente=${cliente.idCliente})}"><i
                                class="fa-sharp fa-solid fa-ban"></i></a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                        <a type="submit" class="btn btn-outline-danger btn-eliminar"
                            th:href="@{/modulo-persona/cliente/eliminar(idCliente=${cliente.idCliente})}"><i
                                class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
        <div th:if="${clientes == null or clientes.empty}">
            <h1>clientes</h1>
        </div>
    </div>
</body>

</html>