<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<div class="container-fluid py-3" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <h3 class="text-center">Inventario de productos</h3>
    <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')" class="mb-3">
        <a class="btn btn-outline-success" th:href="@{/modulo-inventario/inventario-producto/agregar}"><i
                class="fa-solid fa-plus"></i> Crear nuevo registro</a>
    </div>
    <div th:if="${inventarioProductos != null and !inventarioProductos.empty}">
        <table class="table">
            <thead class="table-dark">
            <th>Producto</th>
            <th>Fecha inventario</th>
            <th>Cantidad ingresada</th>
            <th>Cantidad entrada</th>
            <th>Cantidad salida</th>
            <th>Cantidad final</th>
            <th>Fecha ingreso</th>
            <th>Vendido hasta hoy</th>
            <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                Editar
            </th>
            <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')">Dar baja</th>
            </thead>
            <tr th:each="inventarioProducto : ${inventarioProductos}">
                <td>
                        <span
                                th:text="${inventarioProducto.detalleProducto.producto.nombreProducto + ' (' + inventarioProducto.detalleProducto.medidaProducto.nombreMedidaProducto + ') - ' + inventarioProducto.detalleProducto.contenedorProducto.nombreContenedorProducto + ' - ' + inventarioProducto.detalleProducto.descripcionProducto.nombreDescripcionProducto}"></span>
                </td>
                <td th:text="${inventarioProducto.fechaInventarioProducto}">
                    Mostrar fecha del inventario
                </td>
                <td th:text="${inventarioProducto.cantidadIngresadaProducto}">
                    Mostrar Nombre de la descripcion de producto
                </td>
                <td th:text="${inventarioProducto.cantidadEntradaProducto}">
                    Mostrar Nombre de la descripcion de producto
                </td>
                <td th:text="${inventarioProducto.cantidadSalidaProducto}">
                    Mostrar Nombre de la descripcion de producto
                </td>
                <td th:text="${inventarioProducto.cantidadFinalProducto}">
                    Mostrar Nombre de la descripcion de producto
                </td>
                <td th:text="${inventarioProducto.fechaIngreso}">
                    Mostrar Nombre de la descripcion de producto
                </td>
                <td th:text="${inventarioProducto.cantidadVendidaHastaHoy}">
                    Mostrar Nombre de la descripcion de producto
                </td>
                <td sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                    <!-- Botón para abrir el modal de edición -->
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                            th:data-bs-target="'#editModal_' + ${inventarioProducto.idInventarioProducto}">
                        <i class="fa-sharp fa-solid fa-pencil"></i>
                    </button>
                    <!-- Modal de edición -->
                    <div class="modal fade" th:id="'editModal_' + ${inventarioProducto.idInventarioProducto}"
                         tabindex="-1"
                         th:attr="aria-labelledby='editModalLabel_' + ${inventarioProducto.idInventarioProducto}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'editModalLabel_' + ${inventarioProducto.idInventarioProducto}">
                                        ¿Estás seguro de que deseas editar este registro de inventario?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para ir al formulario de edición -->
                                    <a class="btn btn-primary"
                                       th:href="@{/modulo-inventario/inventario-producto/editar/} + ${inventarioProducto.idInventarioProducto}">Sí,
                                        quiero editar</a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                                        cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                    <!-- Botón para abrir el modal de dar baja -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#bajaModal_' + ${inventarioProducto.idInventarioProducto}">
                        <i class="fa-sharp fa-solid fa-ban"></i>
                    </button>
                    <!-- Modal de dar baja -->
                    <div class="modal fade" th:id="'bajaModal_' + ${inventarioProducto.idInventarioProducto}"
                         tabindex="-1"
                         th:attr="aria-labelledby='bajaModalLabel_' + ${inventarioProducto.idInventarioProducto}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:id="'bajaModalLabel_' + ${inventarioProducto.idInventarioProducto}">
                                        ¿Estás seguro de que deseas dar de baja este registro de inventario?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <!-- Enlace para dar de baja la categoría de ganado -->
                                    <a class="btn btn-danger"
                                       th:href="@{/modulo-inventario/inventario-producto/baja(idInventarioProducto=${inventarioProducto.idInventarioProducto})}">Sí,
                                        dar de baja</a>
                                    <!-- Botón para cerrar el modal -->
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tfoot></tfoot>
        </table>
    </div>
    <div class="py-3">
        <a class="btn btn-outline-primary btn-lg btn-block"
           th:href="@{/modulo-inventario}"><i
                class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de edición */
    var editButtons = document.querySelectorAll('.btn-outline-warning[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    editButtons.forEach(function (button) {
        var targetModalId = button.getAttribute("data-bs-target");
        var modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de edición
        var uniqueModalId = "editModal_" + modalId.replace("#editModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        var modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
<script th:inline="javascript">
    /* Generar ID único para cada modal */
    /* Inserta este código antes de cerrar la etiqueta </body> */

    /* Obtén todos los botones de dar baja */
    var deleteButtons = document.querySelectorAll('.btn-outline-danger[data-bs-toggle="modal"]');

    /* Recorre los botones y asigna un ID único a cada modal correspondiente */
    deleteButtons.forEach(function (button) {
        var targetModalId = button.getAttribute("data-bs-target");
        var modalId = button.getAttribute("th:data-bs-target");

        // Crea un identificador único para el modal de dar baja
        var uniqueModalId = "bajaModal_" + modalId.replace("#bajaModal_", "");

        // Actualiza el atributo 'data-bs-target' del botón con el nuevo ID único
        button.setAttribute("data-bs-target", "#" + uniqueModalId);

        // Obtén el modal correspondiente y actualiza su atributo 'id' con el nuevo ID único
        var modal = document.querySelector(targetModalId);
        modal.setAttribute("id", uniqueModalId);
    });
</script>
</body>

</html>
