<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<div class="container-fluid py-2" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <div class="form-control">
        <form th:action="@{/modulo-inventario/inventario-producto/encontrar-total-inventario-producto-fecha(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')})}"
              method="get">
            <label for="fechaInicio">Fecha inicio</label>
            <input type="date" id="fechaInicio" name="fechaInicio" required>
            <label for="fechaFin">Fecha finalización</label>
            <input type="date" id="fechaFin" name="fechaFin" required>
            <!-- Campo de selección para filtrar registros por producto detallado -->
            <label class="form-label form-label-lg" for="detalleProducto">Producto:</label>
            <select id="detalleProducto" name="detalleProducto">
                <option value="0">Todos</option>
                <option th:each="producto : ${obtenerListaProductoDetallado}" th:value="${producto.idDetalleProducto}"
                        th:text="${producto.toString()}"></option>
            </select>
            <button type="submit">Buscar</button>
        </form>
    </div>

    <div th:if="${not #lists.isEmpty(totalInventarioProductoFecha)}" class="py-2">
        <div style="text-align: right">
            <a th:href="@{/modulo-inventario/inventario-producto/total-inventario-producto-fecha/pdf(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, detalleProducto=${#request.getParameter('detalleProducto')})}"
               target="_blank" class="btn btn-outline-info">Generar PDF</a>
            <a th:href="@{/modulo-inventario/inventario-producto/total-inventario-producto-fecha/excel(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, detalleProducto=${#request.getParameter('detalleProducto')})}"
               class="btn btn-outline-success">Generar Excel</a>
        </div>
        <div class="py-2"></div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Fecha inventario</th>
                <th>Producto</th>
                <th>Cantidad ingresada</th>
                <th>Cantidad salida</th>
                <th>Cantidad final</th>
                <th>Vendido hasta hoy</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="totalInventarioProducto : ${totalInventarioProductoFecha}">
                <td th:text="${totalInventarioProducto.fechaInventarioProducto}">
                </td>
                <td>
                        <span
                                th:text="${totalInventarioProducto.detalleProducto.producto.nombreProducto + ' (' + totalInventarioProducto.detalleProducto.medidaProducto.nombreMedidaProducto + ') - ' + totalInventarioProducto.detalleProducto.contenedorProducto.nombreContenedorProducto + ' - ' + totalInventarioProducto.detalleProducto.descripcionProducto.nombreDescripcionProducto}"></span>
                </td>
                <td th:text="${totalInventarioProducto.cantidadIngresadaProducto}">
                </td>
                <td th:text="${totalInventarioProducto.cantidadSalidaProducto}">
                </td>
                <td th:text="${totalInventarioProducto.cantidadFinalProducto}">
                </td>
                <td th:text="${totalInventarioProducto.cantidadVendidaHastaHoy}">
                </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${inventarioProductoPage.hasPrevious()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/modulo-inventario/inventario-producto/encontrar-total-inventario-producto-fecha(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, pagina=${inventarioProductoPage.previousPageable().pageNumber})}"
                       aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" th:text="${inventarioProductoPage.getNumber()+1}"></a>
                </li>
                <li th:if="${inventarioProductoPage.hasNext()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/modulo-inventario/inventario-producto/encontrar-total-inventario-producto-fecha(fechaInicio=${#request.getParameter('fechaInicio')}, fechaFin=${#request.getParameter('fechaFin')}, pagina=${inventarioProductoPage.nextPageable().pageNumber})}"
                       aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row py-2">
        <div class="col-sm-6">
            <a class="btn btn-outline-primary btn-lg btn-block"
               th:href="@{/modulo-inventario/inventario-producto/lista}"><i
                    class="fa-solid fa-arrow-left"></i></a>
        </div>
    </div>
</div>
</body>

</html>
