<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
    <div class="container-fluid py-5 row" layout:fragment="page-content">
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pais</h5>
                    <p class="card-text">
                        Esta es la seccion donde podra encontrar informacion del pais
                    </p>
                    <form method="get" th:action="@{/modulo-ubicacion/pais/lista}">
                        <a class="btn btn-primary" href="#" onclick="this.parentNode.submit();">Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Departamento</h5>
                    <p class="card-text">
                        Esta es la seccion donde podra encontrar informacion de los departamentos
                    </p>
                    <form method="get" th:action="@{/modulo-ubicacion/departamento/lista}">
                        <a class="btn btn-primary" href="#" onclick="this.parentNode.submit();">Entrar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Municipio</h5>
                    <p class="card-text">
                        Esta es la seccion donde podra encontrar informacion de los municipios
                    </p>
                    <form method="get" th:action="@{/modulo-ubicacion/municipio/lista}">
                        <a class="btn btn-primary" href="#" onclick="this.parentNode.submit();">Entrar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>