<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
<div class="container py-3" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
    <h5 class="text-center">Alimentación de becerros y terneros</h5>
    <div th:if="${not #lists.isEmpty(alimentacionBecerro)}">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Fecha</th>
                <th>Becerro</th>
                <th>Cantidad mañana</th>
                <th>Cantidad tarde</th>
                <th>Total cantidad</th>
                <th>Madre del Becerro</th>
            </tr>
            </thead>
            <tr th:each="alimentacion : ${alimentacionBecerro}">
                <td th:text="${#temporals.format(alimentacion.getFechaAlimentacionBecerro(), 'dd-MM-yyyy')}"></td>
                <td th:text="${alimentacion.getGanadoMacho().getNombreGanadoMacho()}"></td>
                <td th:text="${alimentacion.getCantidadManianaAlimentacion() + ' litros'}">
                </td>
                <td th:text="${alimentacion.getCantidadTardeAlimentacion() + ' litros'}">
                </td>
                <td th:text="${alimentacion.getTotalAlimentacionBecerro() + ' litros'}">
                </td>
                <td th:text="${alimentacion.getProduccionDiariaLeche().getGanadoHembra().getNombreGanadoHembra()}">
                </td>
            </tr>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <!-- Si hay una página anterior, mostrar el enlace -->
                <li th:if="${alimentacionBecerroPage.hasPrevious()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/modulo-ganado/alimentacion-becerro(pagina=${alimentacionBecerroPage.getNumber()-1})}"
                       aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <!-- Mostrar el número de la página actual -->
                <li class="page-item active"><a class="page-link"
                                                th:text="${alimentacionBecerroPage.getNumber()+1}"></a>
                </li>
                <!-- Si hay una página siguiente, mostrar el enlace -->
                <li th:if="${alimentacionBecerroPage.hasNext()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/modulo-ganado/alimentacion-becerro(pagina=${alimentacionBecerroPage.getNumber()+1})}"
                       aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="py-3">
        <a class="btn btn-outline-primary btn-lg btn-block"
           th:href="@{/modulo-ganado}"><i
                class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>
</body>

</html>
