<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title></title>
</head>

<body>
    <!-- Sección para agregar nuevo registro (solo visible para usuarios con rol "ROLE_ADMINISTRADOR") -->
    <div class="container-fluid py-5" layout:fragment="page-content"
        sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
        <div sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')" class="mb-3">
            <a class="btn btn-success" th:href="@{/modulo-departamento/departamento/agregar}">+ Crear un nuevo
                registro</a>
        </div>
        <div th:if="${departamentos != null and !departamentos.empty}">
            <table class="table">
                <thead class="table-dark">
                    <th>Departamento</th>
                    <th>Pais al que pertenece</th>
                    <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                        Editar
                    </th>
                    <th sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')">
                        Dar baja
                    </th>
                    <th sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Eliminar</th>
                </thead>
                <tr th:each="departamento : ${departamentos}">
                    <td th:text="${departamento.nombreDepartamento}">
                        Mostrar Nombre del departamento
                    </td>
                    <td th:text="${departamento.pais.nombrePais}">
                        Mostrar nombre del pais
                    </td>
                    <td sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_USUARIO')">
                        <a class="btn btn-warning"
                            th:href="@{/modulo-ubicacion/departamento/editar/} + ${departamento.idDepartamento}">Editar</a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                        <a type="submit" class="btn btn-danger"
                            th:href="@{/modulo-ubicacion/departamento/baja(idDepartamento=${departamento.idDepartamento})}">
                            Dar baja
                        </a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
                        <a type="submit" class="btn btn-danger"
                            th:href="@{/modulo-ubicacion/departamento/eliminar(idDepartamento=${departamento.idDepartamento})}">
                            Eliminar
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div th:if="${departamentos == null or departamentos.empty}">
            <h1>Departamentos</h1>
        </div>
    </div>
</body>

</html>
