<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title>Title</title>
</head>

<body>
<div class="container py-5" layout:fragment="page-content"
     sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR', 'ROLE_USUARIO')">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-12">
            <div class="card rounded shadow">
                <div class="card-header bg-white">
                    <h3 class="card-title text-center text-dark">Información del usuario</h3>
                </div>
                <div class="card-body">
                    <div class="text-center mt-4">
                        <h1>Bienvenido [[${#httpServletRequest.remoteUser}]]</h1>
                    </div>
                    <div class="mt-4 row">
                        <div class="col-sm-2">
                            <a class="btn btn-outline-primary btn-block" th:href="@{/}">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="col-md-5 mt-2 mt-md-0">
                            <a class="btn btn-outline-primary btn-block"
                               th:href="@{/modulo-perfil-usuario/cambiar-nombre-usuario}">
                                Cambiar nombre de usuario
                            </a>
                        </div>
                        <div class="col-md-5 mt-2 mt-md-0">
                            <a class="btn btn-outline-primary btn-block"
                               th:href="@{/modulo-perfil-usuario/cambiar-contrasena}">
                                Cambiar contraseña
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
